# Compiled class file
*.class
*.log
*.jar
out/*
build/*
.gradle/*

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries.DS_Store
.idea/.name
.idea/gradle.xml
.idea/misc.xml
.idea/compiler.xml

.DS_Store
